# Run tests
function p() {
  if [ -f vendor/bin/pest ]; then
    vendor/bin/pest "$@"
  else
    vendor/bin/phpunit "$@"
  fi
}

function pf() {
  if [ -f vendor/bin/pest ]; then
    vendor/bin/pest --filter "$@"
  else
    vendor/bin/phpunit --filter "$@"
  fi
}

function gdiff() {
  git diff --stat $(git merge-base --fork-point "$@")
}

function a() {
  if [ -f artisan ]; then
    valet php artisan "$@"
  else
    if [ -f console ]; then
      valet php console "$@"
    else
      valet php console.php "$@"
    fi
  fi
}

# Docker
function ssh-docker() {
  docker exec -it "$@" bash
}

# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$@"
}

function archive() {
  zip -r "$1".zip -i "$1" ;
}

# Commit everything
function commit() {
  commitMessage="$1"

  if [ "$commitMessage" = "" ]; then
    commitMessage="🚧 work in progress"
  fi

  git add .
  eval "git commit -a -m '${commitMessage}'"
}

function silent() {
  "$@" > /dev/null
}


# Check weather
function wttr() {
  location="$1"

  curl "wttr.in/${location}?lang=de"
}

# Get all changed (and still existing) files according to a defined base branch
function changed-files() {
    git diff --name-only "$1" | grep -xFf <(git ls-files) | tr '\n' ' '
}
